* {
    margin: 0;
    padding: 0;
}
.fa-bars {
    color: black;
    margin: 30px;
}
.heading-intro {
    font-size: 25px;
    color: rgb(255, 79, 56);
    margin-bottom: 10px;
}
.intro-sect {
    margin-top: 50px;
    margin-left: 20px;    
    margin-right: 20px;
    margin-bottom: 100px;
    font-family: "Nanum Gothic", sans-serif;
    /* border: 2px blue solid; */
}
.intro-sect h2 {
    font-weight: 900;
    color: rgb(255, 79, 56);
}
.intro-description {
    margin-top: 30px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}
.intro-sect h3 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana;
    color: rgb(87, 87, 87);
    font-weight: bold;
}
.intro-sect h4 {
    margin-top: 10px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.first-page {
    border: 2px gray solid;
    background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(185, 180, 180, 0.7)), url("./assets/images/home1.png");
    /* background: linear-gradient(rgb(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("./assets/images/home1.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
