@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Nanum+Gothic:wght@700&family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.fa-bars {
  color: black;
  margin: 30px;
}

.heading-intro {
  font-size: 30px;
  color: #ec5242;
  margin-bottom: 10px;
  font-weight: 500;
}

.intro-sect {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}

.intro-sect h2 {
  color: #ec5242;
  font-size: 2rem;
  background-image: url('./assets/images/3.png');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-description {
  margin-top: 30px;
  width: 70%;
  font-size: 16px;
  color: #272a31;
  font-family: sans-serif;
}

.intro-sect h3 {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  color: #272a31;
}

.intro-sect h4 {
  margin-top: 10px;
  color: #272a31;
}

.first-page {
  border: 1px transparent solid;
  background: linear-gradient(rgba(252, 252, 252, 0.7), rgba(185, 180, 180, 0.7)), url("./assets/images/home11.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #d3d3d3;
}

/* Programs Section */
.programs-sect {
  margin-top: 0;
  background: url("./assets/images/programs-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px transparent solid;
}

.main-program {
  text-align: center;
  margin-top: 30px;
  color: #d3d3d3;
  letter-spacing: 0.25rem;
}

.under-line {
  border: 1px #ec5242 solid;
  width: 60px;
  text-align: center;
  margin: 20px auto;
}

.program-activities ul {
  min-height: 250px;
}

.program-activities li {
  color: white;
  background-color: #78767650;
  margin: 10px;
  padding: 3px;
  display: grid;
  grid-template-columns: 15% 30% 55%;
  min-height: 100px;
  justify-content: center;
  align-items: center;
}

.comments {
  margin-left: 5px;
  margin-right: 15px;
}

.program-activities h4 {
  font-size: 16px;
  color: #ec5242;
  box-sizing: border-box;
}

.program-activities p {
  box-sizing: border-box;
  color: #d3d3d3;

  /* font-family: sans-serif; */
}

.whole-program {
  text-align: center;
  border: 1px #ec5242 solid;
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  background-color: #ec5242;
}

.whole-program a {
  color: white;
  text-decoration: none;
}

.more {
  border: 1px #272a31 solid;
  padding: 20px;
  width: 80%;
  margin: 30px auto;
  text-align: center;
  font-weight: bold;
}

.more-btn {
  color: #ec5242;
  margin-left: 10px;
}

/* Partners' Section */
.partner-sect {
  background-color: #272a31;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  border: 1px transparent solid;
}

.partner-heading {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  letter-spacing: 0.25rem;
  color: grey;
}

.partner-images-sect {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.partner-sect img {
  width: 150px;
  padding: 10px;
  max-height: 110px;
  flex: 25%;
}

.first-img {
  margin-top: 15px;
}

.last-img {
  margin-bottom: 15px;
}

/* Footer Section */
.footer-sect {
  min-height: 140px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #d3d3d3;
  padding: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 20px;
}

.capstone-logo {
  width: 120px;
}

.footer-content {
  margin-top: 20px;
  align-self: flex-start;

  /* font-family: sans-serif; */
}

.about-footer {
  background-color: #272a31;
}

.about-footer-content {
  color: #d3d3d3;
}

/* Featured Section */
.featured-sect {
  background-color: #d3d3d3;
  border: 2px transparent solid;
}

.speakers-sect {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.speaker-image {
  background-image: url('./assets/images/box-pattern.webp');
  background-position: top left;
  background-size: 170px;
  width: 110px;
  height: 90px;
  margin-left: 5px;
}

.speaker-image img {
  width: 120px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  height: 150px;
}

.featured-heading {
  text-align: center;
  margin-top: 30px;
  letter-spacing: 0.15rem;
  color: rgb(42, 41, 41);
}

.speaker-segment {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 500px;
}

.title {
  color: #ec5242;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
}

.speaker-profile {
  padding-right: 5px;
}

.speaker-profile h4 {
  color: #272a31;
}

.speaker-profile p {
  font-size: 14px;
  font-family: sans-serif;
}

.feature-line {
  width: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desktop-nav {
  display: none;
}

.desktop-logo-info {
  display: none;
}

.intro-sect-about {
  text-align: center;
  padding: 5%;
}

.intro-sect-about h2 {
  color: #ec5242;
  padding-bottom: 10px;
  background-image: url('./assets/images/3.png');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-about {
  background-color: white;
  color: #272a31;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 1.5rem;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
}

.about-under-line {
  border: 1px #d3d3d3 solid;
}

.desktop-intro-about {
  display: none;
}

.footer-sect-about {
  text-align: center;
  color: #272a31;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
}

.footer-sect-about h5 {
  font-size: 1.2rem;
}

.about-logo {
  border: 1px #d3d3d3 solid;
  width: 90%;
  padding: 15px;
  margin: 20px auto 50px;
  justify-content: center;
  min-height: 120px;
  display: flex;
  align-items: center;
}

.email {
  font-weight: bold;
}

.past-acts {
  margin: 10px;
}

.past-title {
  text-align: center;
  padding-top: 30px;
  font-size: 1.5rem;
}

.past-description {
  text-align: center;
  padding-bottom: 20px;
}

.past-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto 40px;
  gap: 20px;
}

.switzerland-pic {
  height: 250px;
  width: 100%;
  background: linear-gradient(rgb(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7)), url("./assets/images/switzerland-2017.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.switzerland-pic h2 {
  font-size: 30px;
  margin-top: 20%;
}

.switzerland-pic > * {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mexico-pic {
  height: 250px;
  width: 100%;
  background: linear-gradient(rgb(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7)), url("./assets/images/mexico-2019.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mexico-pic h2 {
  font-size: 30px;
  margin-top: 20%;
}

.mexico-pic > * {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu-bar-overlay {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(162, 163, 165, 0.8);
  backdrop-filter: blur(6px);
  display: none;
  transition: 0.3s;
  padding: 20px;
}

.menu-icon {
  padding: 30px;
}

.menu-overlay-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 70%;
}

.menu-overlay-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.menu-overlay-nav a {
  text-decoration: none;
  color: #272a31;
  font-size: 2rem;
  font-weight: 700;
}

.menu-overlay-nav a:hover {
  color: #ec5242;
  font-weight: bold;
  text-decoration-line: overline;
}

.contact-us {
  font-size: 16px;
  font-family: sans-serif;
}

@media screen and (max-width: 300px) {
  .speaker-image img {
    float: left;
  }

  .speaker-segment {
    display: block;
  }

  .title {
    margin-top: 0;
  }

  .program-activities h4 {
    font-size: 13px;
  }

  .program-activities p {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
  }
}

@media screen and (min-width: 768px) {
  .desktop-nav {
    display: block;
  }

  .header-sect {
    display: none;
  }

  .heading-intro {
    font-size: 40px;
  }

  .desktop-intro-about {
    display: block;
  }

  .desktop-logo-info {
    display: block;
  }

  .more {
    display: none;
  }

  .fab {
    color: white;
  }

  .menu-overlay {
    display: none !important;
  }

  .footer-content {
    font-size: 14px;
  }

  .first-navbar {
    background-color: #272a31;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    border: 1px #272a31 solid;
  }

  .past-description {
    font-size: 12px;
  }

  .first-navbar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 85%;
    margin-top: 10px;
  }

  .first-navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
  }

  .second-navbar {
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    border: 1px transparent solid;
  }

  .nav-logo {
    width: 80px;
  }

  .second-navbar ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
    align-items: center;
    padding-right: 110px;
  }

  .second-navbar li {
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
  }

  .second-navbar a {
    text-decoration: none;
    color: #272a31;
  }

  .last-list-item a {
    color: #ec5242;
    border: 4px #ec5242 solid;
    padding: 8px;
  }

  .intro-sect {
    margin: 10% 20%;
  }

  .intro-sect h2 {
    font-size: 3.5rem;
  }

  .intro-description {
    font-size: 14px;
    width: 60%;
    font-weight: 400;
  }

  .intro-sect h3 {
    font-size: 2rem;
  }

  .intro-about {
    font-size: 14px;
  }

  .contact-us {
    font-size: 14px;
  }

  .email {
    font-size: 12px;
  }

  /* Featured Filmmakers Section */
  .speakers-sect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
  }

  .speaker-profile p {
    font-size: 12px;
  }

  .speaker-segment {
    margin: 40px auto;
    flex: 45%;
    grid-template-columns: 38% 62%;
  }

  /* Program Section */
  .program-activities ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .program-activities li {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 2px;
    height: 230px;
    width: 15%;
    gap: 15px;
    text-align: center;
  }

  .comments {
    margin-top: 10px;
  }

  .program-activities h4 {
    margin: 5px;
  }

  /* Partners' Section */
  .partner-images-sect {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .partner-sect img {
    width: 100px;
    padding: 10px;
    max-height: 110px;
  }

  /* About Section */

  .intro-sect-about {
    width: 70%;
    margin: auto;
  }

  .intro-sect-about h2 {
    font-size: 2.5rem;
  }

  .second-navbar a:active {
    color: #ec5242;
  }

  .about-logo {
    width: 40%;
    transition: 1s;
  }

  .about-logo:hover {
    transform: scale(1.3);
    margin-top: 30px;
  }

  .footer-sect-about p {
    width: 60%;
    margin: auto;
    font-size: 14px;
  }

  .past-images {
    flex-direction: row;
    margin: 40px auto 60px;
    width: 65%;
  }

  .switzerland-pic {
    height: 250px;
    width: 100%;
    background: linear-gradient(rgb(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7)), url("./assets/images/switzerland-2017.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .switzerland-pic h2 {
    margin-top: 25%;
  }

  .switzerland-pic > * {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .mexico-pic {
    height: 250px;
    width: 100%;
    background: linear-gradient(rgb(236, 82, 66, 0.7), rgba(236, 82, 66, 0.7)), url("./assets/images/mexico-2019.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .mexico-pic h2 {
    margin-top: 25%;
  }

  .mexico-pic > * {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .speakers-sect {
    padding-left: 10%;
    padding-right: 10%;
  }

  .heading-intro {
    font-size: 50px;
  }

  .intro-sect-about h2 {
    font-size: 3.5rem;
  }

  .program-activities li {
    height: 180px;
  }

  .second-navbar ul {
    padding-right: 170px;
  }

  .second-navbar li {
    padding: 20px;
  }

  .intro-sect h2 {
    font-size: 4.5rem;
  }
}
